@{
    ViewBag.Title = "CONTACT";
}
<h2 style="margin-top: 60px; 
        text-align:center;
        color: hotpink;
        font-family: 'Megrim', cursive;
        font-weight:600;">@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<address class="text-center">
    <h3>Glamboyant</h3><br />
    Indianapolis, IN 46202<br />
    <abbr title="Phone">P:</abbr>
    317.123.4567
</address>

@*<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@